<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<title>无标题文档</title>
<link href="../../css/style.css" rel="stylesheet" type="text/css"/>
</head>
<body>
<table id="userwrap">
	<tr class="user">
        <td class="right">
        	<table>
            	<tr>
                	<td class="one">姓名：</td>
                    <td class="two"><input type="text" class="inptxt"/></td>
                    <td class="one">性别：</td>
                    <td class="two"><input type="radio" id="man" checked="checked" value="male" name="gender"/>&nbsp;<label for="man">男</label>&nbsp;&nbsp;<input type="radio" id="women" value="female"  name="gender" value="female"/>&nbsp;<label>女</label></td>
                    
                </tr>
                <tr>
                	<td>出生日期：</td>
                    <td><input type="text" class="inptxt"/></td>
                </tr>
                <tr>
                	<td>备注：</td>
                    <td colspan="3"><textarea name="text" cols="40" rows="2"></textarea></td>
                </tr>
                <tr><td>&nbsp;</td></tr>
                <tr><td>&nbsp;</td></tr>
                <tr>
                	<td colspan="3"></td>
                    <td class="btn"><input type="button" value="提交"/><input type="button" value="重置"/></td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>
